{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "limit" : $util.toJson($ctx.args.limit),
    "consistentRead" : false,
    "nextToken" : $util.toJson($util.defaultIfNullOrBlank($ctx.args.nextToken, undefined))
}